[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # Missing function or method docstring (missing-function-docstring)
    C0115, # Missing class docstring (missing-class-docstring)
    C0209, # consider-using-f-string (codebase uses %-formatting)
    R0913, # Too many arguments (too-many-arguments)
    R0914, # Too many local variables (too-many-locals)
    R0915, # Too many statements (too-many-statements)
    R0917, # Too many positional arguments (too-many-positional-arguments)
    W0703  # Catching too general exception Exception (broad-except)


[FORMAT]
max-line-length=120
